<!DOCTYPE html>
<html>
	  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<head>

	<title>Todo App</title>
</head>
<body>
	<h1>Welcome To Todo Application</h1>

	<form method="post" action=" ">
		<input type="text" name="name" required>
		<input type="submit">
	</form>

	<ul>
	<% for(var i=0; i< todo.length ;i++) {%>

		<li><%= todo[i].name %></li>

	<% } %>
	</ul>

</body>
	<script type="text/javascript" src="./assets/list.js"></script>

</html>